
.notice {
  width: 100%;
  max-width: 100%;
  position: relative;
  background: #161616;
  z-index: 100;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  &.closed {
    //opacity: 0;
    display: none;
  }

  .noticeContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    position: relative;
    padding: 10px;
    max-width: 830px;
    margin: 0 auto;
    @media (max-width: 992px) {
      padding: 8px 8px 8px 8px;
    }
    svg {
      &:first-child {
        min-width: 20px;
        min-height: 20px;
      }
    }
    p {
      color: #b7b7b7;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;

      b { 
        color: #ff7e40;
        text-transform: uppercase;
        font-weight: 400 !important;
      }

      @media (max-width: 992px) {
        font-size: 12px;
        width: calc(100% - 28px);
      }

      a { 
        color: #ff7e40;
        text-decoration: underline;
        font-weight: 400;
      }
    }

    .closenotice {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
