.insightPage {
  padding: 100px 0;
  @media (max-width: 992px) {
    padding: 65px 0;
  }
  .insightContent {
    max-width: 940px;
    margin: 0 auto;
    .titleWrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      padding: 100px 0;
      background-image: url("/images/legal.svg");
      background-position: center;
      @media (max-width: 992px) {
        padding: 65px 0;
        background-image: url("/images/legalMob.svg");
      }
      .label {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #1b1b1b;
        .labelIcon {
          display: flex;
          width: 12px;
          height: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          span {
            &:first-child {
              width: 12px;
              height: 12px;
              background: rgba(114, 255, 177, 0.15);
              border-radius: 50%;
              position: absolute;
              top: 0;
              left: 0;
              transform: scale(0.5);
              animation: pulse 2s infinite;
            }
            &:last-child {
              width: 6px;
              height: 6px;
              background: #72ffb1;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 1;
            }
          }
        }
        > span {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .title {
        color: #fff;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 992px) {
          font-size: 32px;
        }
      }
    }

    .content {
      padding: 100px 0;
      @media (max-width: 992px) {
        padding: 65px 0;
      }
      p {
        color: #b7b7b7;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;
       /*  display: flex;
        flex-direction: column; */
        b,
        strong {
          color: #fff;
        }
      }
      h2 {
        color: #fff;
        margin: 96px 0 48px 0;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        &:first-child {
          margin-top: 0;
        }
      }
      h3 {
        color: #fff;
        margin: 48px 0 12px 0;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        &:first-child {
          margin-top: 0;
        }
      }
      ul {
        list-style-type: disc;
        margin-left: 24px;
        margin-bottom: 24px;
        li {
          list-style-type: disc;
          color: #b7b7b7;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 24px;
          b,
          strong {
            color: #fff;
          }
        }
      }
      ol {
        list-style-type: upper-alpha;
        margin-left: 24px;
        margin-bottom: 24px;
        li {
          list-style-type: upper-alpha;
          color: #b7b7b7;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 24px;
          b,
          strong {
            color: #fff;
          }
          ol {
            list-style-type: decimal;
            li {
              list-style-type: decimal;
            }
          }
        }
      }
      a {
        color: #72ffb1;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: underline;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}
