.layout {
  margin: 342px 162px 120px 162px;

  @media (max-width: 768px) {
    margin: 120px 16px 64px 16px;
  }
}

.titleLayout {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 63px;

  @media (max-width: 776px) {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }
}

.title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 776px) {
    font-size: 24px;
  }
}

.text {
  width: 70%;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media (max-width: 776px) {
    width: 100%;
  }
}

.level {
  color: #72FFB1;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tableRow {
  padding: 29px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;

  @media (max-width: 776px) {
    flex-direction: column;
    gap: 24px;
    border-left: 1px solid #242424;
    border-right: 1px solid #242424;
    padding: 24px;
  }
}

.tableRowWithSphere {
  padding: 55px 0;

  @media (max-width: 776px) {
    padding: 24px;
  }
}

.tableValue {
  display: flex;
  gap: 93px;
  color: #B7B7B7;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media (max-width: 776px) {
    flex-direction: column;
    gap: 12px;
  }
}

.tableList {
  width: 278px;

  ul {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 20px;

    li {
      list-style-type: disc;
    }
  }
}

.tablePrice {
  width: 185px;
  z-index: 3;
}

.bodyLayout {
  margin-top: 80px;
  position: relative;
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (max-width: 776px) {
    margin-top: 48px;
  }

  .sphereImg {
    position: absolute;
    top: 26%;
    right: 0;
    left: 20%;
    transform: translateX(-40%);

    @media (max-width: 776px) {
      left: 70%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    transform: translateX(-40%);
    top: 36%;
    left: 20%;
    width: 116px;
    height: 116px;
    background-color: #79FFB5;
    opacity: 0.4;
    filter: blur(50px);
    z-index: 0;
    border-radius: 317px;

    @media (max-width: 776px) {
      left: 70%;
    }
  }
}
