.footer {
  border-top: 1px solid #242424;
  background: #101010;
  .footerLogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    a {
      display: flex;
      margin-bottom: 12px;
    }
    p {
      color: #b7b7b7;
      font-size: 14px;
      font-style: normal;
    }
  }
  .footerText { 
    color: #b7b7b7;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    max-width: 650px;
    a { 
      display: inline-flex;
      color: #fff;
      text-decoration: underline;
      margin: 0 !important;
    }
  }
  .footerContent {
    display: flex;
    align-items: flex-start;
    padding: 32px 64px;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      padding: 32px 16px;
      gap: 32px;
    }
    .footerContentWrapper {
      display: flex;
      justify-content: flex-end;
      gap: 120px;
      @media (max-width: 992px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 48px;
        row-gap: 32px;
      }
      .footerContentWrapperItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        @media (max-width: 992px) {
          align-items: center;
          justify-content: flex-start;
          width: calc(50% - 24px);
        }
        h3 {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          white-space: nowrap;
        }
        nav {
          display: flex;
          flex-direction: column;
          gap: 12px;
          @media (max-width: 992px) {
            align-items: center;
          }
          a {
            display: flex;
            align-items: center;
            gap: 16px;
            color: #b7b7b7;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            white-space: nowrap;
          }
        }
        > div {
          display: flex;
          flex-direction: column;
          gap: 12px;
          @media (max-width: 992px) {
            align-items: center;
          }
          > div {
            display: flex;
            flex-direction: column;
            gap: 6px;
            @media (max-width: 992px) {
              align-items: center;
            }
            span {
              color: #626262;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            p {
              color: #b7b7b7;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          a {
            color: #b7b7b7;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
  .footerDisclaimer {
    padding: 32px 64px;
    border-top: 1px solid #101010;
    background-color: #161616;
    @media (max-width: 767px) {
      padding: 24px 16px;
    }

    p {
      display: flex;
      align-items: center;
      gap: 8px;

      margin: 0 auto;
      text-align: start;
      color: #b7b7b7;
      font-size: 14px;
      line-height: normal;
      font-weight: 400;
      font-family: "Roboto", sans-serif;

      svg {
        min-height: 26px;
        min-width: 26px;
      }

      @media (max-width: 767px) {
        align-items: flex-start;
      }
    }
  }
  .footerBottom {
    display: flex;
    align-items: center;
    padding: 32px 64px;
    justify-content: space-between;
    border-top: 1px solid #242424;
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      padding: 32px 16px;
      gap: 32px;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 12px;
      @media (max-width: 992px) {
        align-items: center;
      }
      p {
        color: #b7b7b7;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 778px;
        @media (max-width: 992px) {
          text-align: center;
        }

        a {
          color: #fff;
        }
      }
      span {
        color: #6b6b6b;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 992px) {
          text-align: center;
        }
      }
    }
  }
}
