
.disclaimer {
  width: 100%;
  max-width: 100%;
  opacity: 0.88;
  position: relative;
  background: #72ffb1;
  z-index: 100;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  &.closed {
    //opacity: 0;
    display: none;
  }

  .disclaimerContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    position: relative;
    padding: 10px;
    max-width: 1500px;
    margin: 0 auto;
    @media (max-width: 992px) {
      padding: 8px 8px 8px 8px;
    }
    svg {
      &:first-child {
        min-width: 20px;
        min-height: 20px;
      }
    }
    p {
      color: #242424;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @media (max-width: 992px) {
        font-size: 12px;
        width: calc(100% - 28px);
      }

      a { 
        color: #242424;
        text-decoration: underline;
      }
    }

    .closeDisclaimer {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
